extends layout

block content
 h1(class='title')= title

 ul(class='message-container')
  each message in messages
    div(class='message')
      div(class='message-info')
        p(class='message-user') #{message.user} #[span(class='faded') says]
        p(class='message-date faded') #{message.added}
      p(class='message-text')= message.text
  a(href='/new') #[button Post New]
      